.bustimes th {
    text-align: center;
}

.bustimes .line {
    text-align: right;
    padding: 0px 5px 0px 5px;
}

.bustimes .time {
    padding: 0px 5px 0px 5px;
    text-align: left;
    text-overflow: ellipsis;
}

.bustimes .destination {
    padding: 0px 5px 0px 5px;
    text-align: left;
}
